.box {
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #f5f5f5;
    border-left: solid 6px #8bcefa;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);

    margin: 40px;
    width: 1000px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.box label {
    float: left;
}

.box span{
    float: right;
    margin: 10px;
    border-radius:30px;
}

.button {
    border-radius: 50px;
}

.btn {
    display: inline-block;
    position: relative;
    color: #47a6f5;
    width: 120px;
    height: 120px;
    line-height: 50px;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    background: #4a9fee;
    background-image: linear-gradient(#78c5f8 0%, #6dcff6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.btn:active {
    /*押したとき*/
    -webkit-transform: translateY(2px);
    transform: translateY(2px);/*沈むように*/
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(#62bcf8 0%, #4ac8fa 100%);/*グラデーションを明るく*/
}
